@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300&family=Poppins:wght@500&display=swap");

.stylish {
  top: 80%;
  left: 80%;
  position: fixed;
  font-family: "Poppins";
  font-weight: 500;
  color: white !important;
  border: 3px solid white;
  padding: 10px;
  border-radius: 10px;
}
